/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right ;
    
    color: #121010;
    text-align: center;
    padding: 14px 16px;
  
    
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgba(0, 0, 0, 0.83);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(15, 14, 14);
  }



  .log-btn {
    background-image: linear-gradient(to right,#EC008C 0%,#fc6767 50%,#EC008C 100%);
    
      display: inline-block;
      vertical-align: top;
      margin-right: 1px;
      border-radius: 35px;
      font-weight: 500;
      color: #fff;
      line-height: 26px;
      font-size: 15px;
      padding: 9px 35px;
      transition: all .2s ease-in-out;
      background-size: 200% 100%;
      
      box-shadow: 0 1px 20px 0 rgb(0 0 0 / 14%);
  
}

#logo-company {
  background-image: url("https://gdm-catalog-fmapi-prod.imgix.net/ProductLogo/dfb487d3-3cb5-473a-9af1-a4e1777cb335.png");
  background-position: 0 1px;
  background-repeat: no-repeat;
  background-size: 260px auto;
  display: inline-block;
  height: 100px;
  width: 400px;
  margin: left 0px;;
}
.div1{
  text-align: center;
  font-weight: 50;
  font-family: cursive;
  
}
.imgtop{
  height: 550px;
  width: 90%;
  margin-left: 4%;
}
#icon{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size:21px;
  font-weight: 50;
  font-family: cursive;
  
  
}

#icon1,#icon2,#icon3{
  align-items: center;
  text-align: center;
  
}

.but{
  position: relative;
  color: #fff;
  left: 43%;
  top: 0px;
  height: 40px;
  width: 160px;
  border-radius: 5px; 
  font-size: large;
  background-color: green;
}
.but:hover{
  background-color: darkgreen;
}
.div5{
  text-align: center;
  font-family: cursive;
  
}

.div6{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family:cursive ;
  padding: 10%;
  padding-top: 5%;
  
}

.aftervideo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
   

}
#box1{
  width: 500px;
  border: 2px solid rgb(3, 3, 3);
  padding: 50px;
  margin: 20px;
  font-family: cursive;
  background-color: rgb(250, 246, 246);
}

#but2{
  color:  white;
  height: 40px;
  width: 200px;
  font-size: 15PX;
  border-radius: 5px;
  background-color: green ;
}

#but2:hover{
  background-color: darkgreen;
}
 .faq{
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 17px;

 }

 #faqbox{
  width: 500px;
  border: 2px solid rgb(3, 3, 3);
  padding: 50px;
  margin: 20px;
  font-family: cursive;
  background-color: rgb(250, 246, 246);
 }
 #faqbox1{
  width: 800px;
  border: 2px solid rgb(3, 3, 3);
  padding: 50px;
  margin: 20px;
  font-family: cursive;
  background-color: rgb(250, 246, 246);
 }
 #lastimg{
  height: 40%;
  width: 40%;
  position: relative;
  left: 50%;
 }